<div class="container-fluid">
    <div class="btn-group mt-2">
        <button class="btn btn-danger" *ngFor="let item of Categories">{{item}}</button>

    </div>
    <div class="row">
        <div class="col">
            <h2>Categories List</h2>
            <ol>
                <li *ngFor="let item of Categories">{{item}}</li>
            </ol>
        </div>
        <div class="col">
            <h2>Select</h2>
            <select>
                <option [value]="item" *ngFor="let item of Categories">{{item|uppercase}}</option>
            </select>
        </div>
        <div class="col">
            <h2>Table</h2>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Category</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of Categories">
                        <td>{{item}}</td>

                    </tr>
                </tbody>
            </table>

        </div>
        <div class="col">
            <h2>CheckBox</h2>
            <ul class="list-unstyled">
                <li class="form-switch" *ngFor="let item of Categories">
                    <input type="checkbox" class="form-check-input"><span>{{item}}</span>
                </li>
                
            </ul>
        </div>
    </div>

</div>
