<div class="container-fluid">
    <h2>Switch Demo</h2>
    <button name="A" (click)="DisplayView($event)"class="btn btn-primary">Login
    </button>
    <button name="B" (click)="DisplayView($event)"class="btn btn-warning">Register
    </button>
    <button name="C" (click)="DisplayView($event)"class="btn btn-danger">ChangePassword
    </button>

    <div [ngSwitch]="ViewName" class="mt-3">
        <div *ngSwitchCase="'A'">
            <dl>
                <dt>UserName</dt>
                <dd><input type="text"></dd>
                <dt>Password</dt>
                <dd><input type="password"></dd>
            </dl>
            <button>Login</button>
        </div>
        <div *ngSwitchCase="'B'">
            your Email:<input type="email"><button>Register</button>
        </div>
        <div *ngSwitchCase="'C'">
            C Block
        </div>
        <div *ngSwitchDefault>
            Default Block
        </div>
    </div>

</div>
