<div class="box">
    <form>
        <h2>{{title}}</h2>
        <div class="mb-3">
            <label class="form-label" for="UserName">User Name</label>
            <div>
                <input type="text" name="UserName" class="form-control">
            </div>
        </div>
        <div class="mb-3">
            <label class="form-label" for="Password">Password</label>
            <div>
                <input type="password" name="UserPassword" class="form-control">
            </div>
        </div>
        <div class="mb-3">
            <button class="btn btn-primary w-100">Login</button>
        </div>
    </form>
</div>