<div class="container-fluid">
    <h2>Mars Rover Card</h2>
    <div class="d-flex flex-wrap">
        <div class="card p-2 m-2" style="width: 200px;" *ngFor="let item of mars.photos">
            <img [src]="item.img_src" class="card-image-top" height="150px">
            <div class="card-header">
                <h3>Id : {{item.id}}</h3>
            </div>
            <div class="card-body">
                <dl>
                    <dt>Camera</dt>
                    <dd>{{item.camera.full_name}}</dd>
                    <dt>Rover</dt>
                    <dd>{{item.rover.name}}</dd>
                    <dt>Launch Date</dt>
                    <dd>{{item.rover.launch_date|date}}</dd>
                </dl>
            </div>
            <div class="card-footer">
                <button class="btn btn-primary w-100">
                    <span class="bi bi-eye-fill"></span> Details
                </button>

            </div>

        </div>

    </div>

</div>
