<div class="container-fluid">
    <form class="form-control w-25" #frmRegister="ngForm" (submit)="SubmitProduct(frmRegister.value)">
        <h2>Add Product</h2>
        <dl>
            <dt>Name</dt>
            <dd><input type="text" name="Name" ngModel #Name="ngModel" class="form-control "></dd>
            <dt>Price</dt>
            <dd><input type="text" name="Price" ngModel #Price="ngModel" class="form-control "></dd>
        </dl>
        <button class="btn btn-primary w-100">Add</button>
    </form>
    <h2>Products</h2>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Name</th>
                <th>Price</th>
                <th>Index</th>
                <th>First</th>
                <th>Last</th>
                <th>Even</th>
                <th>Odd</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr [ngClass]="{'odd-style':o,'even-style':e}"*ngFor="let item of products;let i=index;let f=first;let l=last;let e=even;let o=odd">
                <td>{{item.Name}}</td>
                <td>{{item.Price}}</td>
                <td>{{i}}</td>
                <td>{{f}}</td>
                <td>{{l}}</td>
                <td>{{e}}</td>
                <td>{{o}}</td>
                <td>
                    <button (click)="DeleteClick(i)" class="btn btn-danger"><span class="bi bi-trash"></span></button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
